Package: irydium-chemistry-lab
Version: 2.1.2
Installed-Size: 33796
Maintainer: ailtonbsj <ailton.ifce@gmail.com>
Section: science
Architecture: all
Priority: optional
Homepage: http://chemcollective.org/vlab_download
Description: Virtual Chemistry Laboratory.
 An Virtual Chemistry Laboratory from The irYdium Project's.
 You need Java installed to run correctly.
